{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tarqumia Municipality | بلدية ترقوميا </title>
  <link rel="icon" type="icon" href="{% static 'logo.png' %}">
  <script src=" https://kit.fontawesome.com/e674bba739.js" crossorigin="anonymous">
  </script>
  <link rel="stylesheet" href="{%static 'about.css'%}">
  <link href='https://fonts.googleapis.com/css?family=Cairo' rel='stylesheet'>
</head>
<style>
  .container {
    text-align: right;
  }
</style>

<body>

  
    {% include 'parts/navbar.html'%}
  
  <section id="content-body">
    <div class="news-announcments-title">
      <h2> عن بلدية ترقوميا </h2>
    </div>
    <div class="container">
      <p>."أقيمت بلدة ترقوميا على أنقاض بلدة كنعانية عرفت باسم يفتاح، بمعنى "فتح" أو "يفتح</p>

      <p>وفي العهد الروماني أطلق عليها اسم (Tricomias) ترى كومياس، بمعنى القرى الثلاث. والقرى الثلاث التي أقيمت بلدة
        ترقوميا على أراضيها هي</p>
        <br>
      <p><strong>نحال تيلم</strong>: بمعنى نحل الحراث، والتي تعرف اليوم باسم خربة البطم.</p>
      <p><strong>كفار عتا</strong>: بمعنى قرية الرجل المسن، والتي تعرف اليوم بخربة فرعه.</p>
      <p> <strong>كفار حيرف</strong>: بمعنى قرية السيف، والتي تعرف اليوم بخربة السيف.</p>
<br>
      <p>عندما فتح المسلمون فلسطين وبعد انتصارهم على الرومان في معركة أجنادين، والتي وقعت إلى الغرب من ترقوميا، وعلى
        أراضي كل من بيت جبرين وعجور يوم السبت الموافق 27 جمادى الأولى عام 13 هـ الموافق 30/7/634 م.</p>

      <p>بعدها أصبحت ترقوميا تابعة لأعمال بيت جبرين. وكجزء من فلسطين، مرت ترقوميا بالمراحل التاريخية التي عايشتها
        الأراضي الفلسطينية إلى أن رفرف علم فلسطين على ربوعها بعد الانسحاب الجزئي لقوات الاحتلال الإسرائيلي.</p>

      <p><strong>المرجع:</strong> كتاب بلادنا فلسطين.</p>

      <fieldset>

      </fieldset>
    </div>
    </form>


  </section>
</body>

</html>