
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> ادارة حسابات الموظفين </title>
  <link rel="icon" type="icon" href="logo.png">
  <script src=" https://kit.fontawesome.com/e674bba739.js" crossorigin="anonymous">
  </script>
  <link rel="stylesheet" href="{%static 'news_announcements.css'%}">
  <link rel="stylesheet" href="{%static 'navbar.css'%}">

  
  <link href='https://fonts.googleapis.com/css?family=Cairo' rel='stylesheet'>
</head>

<body>

  
    {% include 'parts/navbar.html'%}
 
  <section id="content-body">
    <div class="news-announcments-title">
      <h2> ادارة حسابات الموظفين  </h2>
      <p> نشر الأخبار والإعلانات لجعل المواطنين على إطلاع دائم بآخر أخبار بلدية ترقوميا والإعلانات المُتعلقة بالبلدة.
      </p>
    </div>

    <div class="publish-links">
      <a href="{% url 'registration_emploee' %}" style="margin-right: 20px;">
        <i class="fas fa-user-plus"></i> انشاء حساب
      </a>
      <a href="{% url 'Updating_deleting_employee' %}">
        <i class="fas fa-user-edit"></i>تحديث او حذف حساب 
      </a>
  </div>

  </section>
</body>

</html>

